@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none !important;
}

input:focus,
select:focus {
  border-color: #c4c4c4 !important;
}

:-webkit-autofill {
  color: #fff !important;
}

select {
  background-image: none;
}

.input-login {
  @apply p-3 outline-none rounded-xl;
  /* @apply p-3 border outline-none border-tertiary-500 rounded-xl; */
}

.label-login {
  @apply absolute px-3 transition-all -translate-y-1/2 pointer-events-none top-6 left-2;
  /* @apply absolute px-3 transition-all -translate-y-1/2 pointer-events-none top-1/2 left-2 text-tertiary-500; */
}

.form-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  opacity: 1;
  height: 2px;
  background-color: #fff;
  z-index: -1;
}

.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  /* background-color: #fff; */
  color: #393838;
}

.project-item:hover .project-item_change-image {
  opacity: 1;
  visibility: visible;
  opacity: 0.7;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: full;
  height: 2px;
  background-color: #00c2ff;
}
.cls-1 {
  fill: #c4c4c4;
}
.cls-2 {
  fill: #00c2ff;
}
.cls-3 {
  fill: #fff;
}
.cls-4 {
  fill: none;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 15px;
  stroke-dasharray: 30 28.4;
  stroke: url(#linear-gradient);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #000;
  transform: translateY(-20px);
  width: 100vw;
}

.swiper-pagination-bullet {
  padding: 5px;
  border: 1px solid #00c2ff !important;
  background-color: #fff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #00c2ff !important;
}

.animate-dots-1 {
  animation: animateDots 1s infinite;
  animation-delay: 1.3s;
}
.animate-dots-2 {
  animation: animateDots 1.1s infinite;
  animation-delay: 0.9;
}
.animate-dots-3 {
  animation: animateDots 1.2s infinite;
  animation-delay: 1s;
}
.animate-dots-4 {
  animation: animateDots 1.3s infinite;
  animation-delay: 1.1s;
}
.animate-dots-5 {
  animation: animateDots 1.4s infinite;
  animation-delay: 1.2s;
}

@keyframes animateDots {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.animate-shake {
  animation: shake 1s infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.balls {
  width: 3.5em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.balls div {
  width: 0.8em;
  /* height: 0.8em; */
  border-radius: 50%;
  background-color: white;
  transform: translateY(-100%);
  animation: wave 0.8s ease-in-out alternate infinite;
}

.balls div:nth-of-type(1) {
  animation-delay: -0.4s;
}

.balls div:nth-of-type(2) {
  animation-delay: -0.2s;
}

@keyframes wave {
  from {
    transform: translateY(-10%);
  }
  to {
    transform: translateY(10%);
  }
}

.bg-login-register-mobile {
  background: url("../public/image/project/bg-project.jpg") no-repeat center /
    cover;
}

@media (min-width: 768px) {
  .bg-login-register-mobile {
    background: none;
  }
}
